<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>

<video class="video-center" controls width="1280" height="720">
    <source src="/video/MOON.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<div class="about-container">
    <h1 class="animated">About</h1>
    <div class="quote animated" style="font-size: small;">"Even so," said Trevize, "I must search. Even if the endless
        powdering of stars in the Galaxy makes the quest seem hopeless, and even if I must do it alone." - Isaac Asimov
    </div>
    <p class="animated">

        Perhaps, much like the idea of creating a lunar base on the moon, as absurd as it may sound, that is where my
        heart lies, the ultimate dream for myself. If one day I may succumb to reality, no longer raising my head to
        gaze at the stars, and no longer pondering the idea of a lunar base, losing that 'sweet fusion of fantasy and
        fear,' then I will surely be saddened and deeply troubled. Fortunately, this web application is the best testament
        for my living, recounting the past.
    </p>
    <p class="animated">
        Initially, this web application was developed to assist my mother with her human resources tasks. However, she
        discovered that it didn't serve her needs effectively. Consequently, I have made the decision to adapt and
        repurpose the application for my own use. It might evolve into a space where I (or anyone) can jot down and
        organize thoughts, or perhaps as a platform for engaging in intriguing activities, even those that push the
        boundaries.
    </p>
    <p class="animated">
        More functonalities are on the way. Have fun!
    </p>
    <p class="animated">
        Built by Qiuyang Wang.
    </p>
</div>
<br>
<br>
<br>
<br>
<br>
