<div class="sidebar">
    <div class="sidebar-header">
        <h3>Dashboard</h3>
    </div>
    <hr class="sidebar-divider">
    <ul>
        <li><a href="?interface=blogs">Blogs</a></li>
        <li><a href="?interface=drafts">Drafts</a></li>
        <li><a href="?interface=trash">Trash</a></li>
    </ul>

</div>
<div class="sidebar-outside">
    <% if (status==-1) { %>
        <div>
            <%=  %>
        </div>
        <% } else { %>
            <div class="blog-content">
                <h1>Manage Your Blogs</h1>
                <p style="margin-left: 10px;">View, add, edit, and delete blogs you own here.</p>
                <div class="blog-list">
                    <!-- Sample blog post -->
                    <div class="blog-card">
                        <h2>Blog Post Title 1</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in justo vel ante congue
                            vulputate.</p>
                        <div class="actions">
                            <a class="edit" href="#">Edit</a>
                            <a class="delete" href="#">Delete</a>
                        </div>
                    </div>

                </div>
            </div>
            <% } %>
</div>


<!-- <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
<style>
    #editor—wrapper {
        border: 1px solid #ccc;
        z-index: 100;
        /* 按需定义 */
    }

    #toolbar-container {
        border-bottom: 1px solid #ccc;
    }

    #editor-container {
        height: 500px;
    }
</style>
<div id="editor—wrapper">
    <div id="toolbar-container"></div>
    <div id="editor-container"></div>
</div>
<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<script>
    const { createEditor, createToolbar } = window.wangEditor
    const editorConfig = {
        
        placeholder: 'Type here...',
        onChange(editor) {
            const html = editor.getHtml()
            console.log('editor content', html)
            // 也可以同步到 <textarea>
        }
    }
    const editor = createEditor({
        selector: '#editor-container',
        html: '<p><br></p>',
        config: editorConfig,
        mode: 'default', // or 'simple'
    })

    const toolbarConfig = {}

    const toolbar = createToolbar({
        editor,
        selector: '#toolbar-container',
        config: toolbarConfig,
        mode: 'default', // or 'simple'
    })
</script> -->