<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" style="width: 70%; height: 725px; left: 15%;">
            <a target="_blank" href="/article/UWS_paper.pdf">
                <img src="/images/The_Death_of_Socrates.jpg" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>Game as Life</h5>
                <p>Death, Game Experience, and Gameplay: Another Possibility of Video Games</p>
            </div>
        </div>
        <div class="carousel-item" style="width: 70%; height: 725px; left: 15%;">
            <a target="_blank"
                href="https://mp.weixin.qq.com/s?__biz=Mzg2MjU0OTUwOQ==&mid=2247483725&idx=1&sn=5f463f174ac705a537a90f638cd86d6b&chksm=ce076227f970eb31c068ca0e7702e2e0c94fc20b8105f5c6419f23b61dbe152f94a1760e51b7&scene=126&sessionid=1694057779#rd">
                <img src="/images/beforeyoureyes.png" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>Game Story</h5>
                <p>Can A Computer Make You Cry?</p>
            </div>
        </div>
        <div class="carousel-item" style="width: 70%; height: 725px; left: 15%;">
            <a target="_blank"
                href="https://my.moonshotacademy.cn/billy-wang/2020/10/28/the-uniqueness-of-ghosts-in-a-christmas-carol/">
                <img src="/images/R.jpg" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>High School Works</h5>
                <p>The Uniqueness of Ghosts in A Christmas Carol</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<br>

<div class="card-group" style="width: 70%; margin-left: 15%;">
    <div class="card" style="background-color: black; color: white;">
        <img src="/images/me.png" class="card-img-top" style="width: 429px; height: 241px;">
        <div class="card-body">
            <h5 class="card-title"><a href="#">Card title</a></h5>
            <p class="card-text">This content is a little bit longer.</p>
        </div>
    </div>
    <div class="card" style="background-color: black; color: white;">
        <img src="/images/star.jpg" class="card-img-top" style="width: 429px; height: 241px;">
        <div class="card-body">
            <h5 class="card-title"><a href="#">Card title</a></h5>
            <p class="card-text">This card has supporting text bel</p>
        </div>
    </div>
    <div class="card" style="background-color: black; color: white;">
        <img src="/images/beforeyoureyes.png" class="card-img-top" style="width: 429px; height: 241px;">
        <div class="card-body">
            <h5 class="card-title"><a href="#">Card title</a></h5>
            <p class="card-text">This is a wider card with supporting text below a</p>
        </div>
    </div>
</div>