<body>
    <el-container style="width: 100%;max-width: 100%;">
        <el-aside :width="calculateStyle+'px'">
            <el-menu
                    :default-active="activePath"
                    class="el-menu-vertical-demo" unique-opened :collapse="isCollapse"
                    :collapse-transition="false" router
                    active-text-color="#409FFF">
                <!--            一级菜单-->
                <el-menu-item :index="item.path" v-for="item in menulist" :key="item.id">
                    <i :class="iconsObj[item.id]"></i>
                    <span>{{item.authName}}</span>
                </el-menu-item>
            </el-menu>
        </el-aside>
        <div style="width: 100%">
            <el-header>
                <div class="toggle-button" @click="toggleCollapse">|||
                </div>
                <div>
                    <span>博客后台管理系统</span>
                </div>
                <div class="loginInfo">
                    <el-avatar :src="userInfo.avatar"></el-avatar>
                    <div class="user-option">
                        <h3 class="web-font nickname">{{userInfo.nickname}}</h3>
                        <p class="logout" @click="logout">退出登录</p>
                    </div>
                </div>
            </el-header>
            <el-main>
                <router-view></router-view>
            </el-main>
        </div>
    </el-container>
</body>